@charset "utf-8";
/* CSS Document */
/*____                         _____ _         _           
 |  _ \                       / ____| |       | |          
 | |_) | __ _ ___  ___       | (___ | |_ _   _| | ___  ___ 
 |  _ < / _` / __|/ _ \       \___ \| __| | | | |/ _ \/ __|
 | |_) | (_| \__ \  __/       ____) | |_| |_| | |  __/\__ \
 |____/ \__,_|___/\___|      |_____/ \__|\__, |_|\___||___/
                                          __/ |            
                                         |___/             
*/

* {
	margin: 0px;
}

html {
	height: 100%;
}

body {
	background: #FFF;
	width: 100%;
	min-width: 960px;
	height: 100%;
	color: #333;
	margin: 0px;
	padding: 0px;
	position: relative;
	display: block;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

div {
	padding: 0px;
	margin: 0px;
	display: block;
}

img {
	border: none;
}

a {
	text-decoration: none;
	color: #d9d9d9;
	display: inline-block;
}

a:hover {
	text-decoration: none;
}

p {
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #888;
	margin: 5px 0px 10px 0px;
	max-width: 700px;
}

h1 {
	font-weight: normal;
	font-size: 48px;
	padding: 30px 0px 0px 0px;
	line-height: 72px;
}

h2 {
	font-size: 36px;
	line-height: 54px;
	font-weight: normal;
	padding: 25px 0px 0px 0px;
	color: #333;
}

h3 {
	font-size: 24px;
	line-height: 36px;
	font-weight: normal;
	color: #333;
}
h4 {
	font-size: 16px;
	line-height: 28px;
	font-weight: normal;
	color: #444;
	max-width: 760px;
}

ul {
	list-style-type: none;
}

li {
	font-size: 16px;
	font-weight: normal;
	color: #888;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}


/*
  __  __       _               _____ _         _           
 |  \/  |     (_)             / ____| |       | |          
 | \  / | __ _ _ _ __        | (___ | |_ _   _| | ___  ___ 
 | |\/| |/ _` | | '_ \        \___ \| __| | | | |/ _ \/ __|
 | |  | | (_| | | | | |       ____) | |_| |_| | |  __/\__ \
 |_|  |_|\__,_|_|_| |_|      |_____/ \__|\__, |_|\___||___/
                                          __/ |            
                                         |___/                   
*/

#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -350px;
}

.push {
	height: 350px;
}

#upper {
	height: 585px;
	width: 100%;
	padding: 0px;
	background: url(../images/wild_oliva.png);
	position: relative;

	border-bottom: 2px solid #2969af;
}

.whitepanel {
	position: relative;
}

.whitegrad {
	background: rgb(250,250,250); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,250,250,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ebebeb',GradientType=0 ); /* IE6-8 */
}

.whitegrad:hover {
	background: rgb(250,250,250); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,250,250,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
}

.smshadow {
	box-shadow: rgba(0, 0, 0, .15) 0 1px 3px, 0 -3px 1px rgba(255, 255, 255, .6), inset 0 2px 1px rgba(255, 255, 255, .97), 0 0 3px -1px rgba(0, 0, 0, .7);
	-webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px, 0 -3px 1px rgba(255, 255, 255, .6), inset 0 2px 1px rgba(255, 255, 255, .97), 0 0 3px -1px rgba(0, 0, 0, .7);
	-moz-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px 0 -3px 1px rgba(255, 255, 255, .6), inset 0 2px 1px rgba(255, 255, 255, .97), 0 0 3px -1px rgba(0, 0, 0, .7);
}

.tenround {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.actualpanel {
	position: relative;
	z-index: 11;
	width: 100%;
	height: 100%;
}

.roundshadow {
	position: absolute;
	z-index: 10;
	bottom: 0px;
	height: 185px;
	width: 100%;
	-webkit-border-radius: 100% / 33px;
	-moz-border-radius: 100% / 33px;
	border-radius: 100% / 33px;
	-webkit-box-shadow: 0 8px 3px -5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 8px 3px -5px rgba(0,0,0,.2);
	box-shadow: 0 8px 3px -5px rgba(0, 0, 0, .2);
}

#pricingcontactinfo {
	width: 550px;
	display: inline-block;
	text-align: right;
}

#pricingcontactinfo a, #pricingcontactinfo p {
	display: inline-block;
	padding: 10px 25px;
	font-size: 13px;
	color: #BBB;

	transition: color .2s;
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
}

#pricingcontactinfo a:hover {
	color: #DDD;
}

.pricing {
	background: #3977bc;
	width: 170px;
	padding: 10px 25px;
	float: left;
	display: inline-table;
	margin: -140px 0px 0px 20px;
	border-radius: 5px;
	height: 130px;

  	-webkit-box-shadow: 2px 1px 10px rgba(0, 0, 0, .4);
  	-moz-box-shadow: 2px 1px 10px rgba(0, 0, 0, .4);
  	box-shadow: 2px 1px 10px rgba(0, 0, 0, .4);
}

.backgrounded .pricingtitle {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	text-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
	color: #FFF;
	line-height: 24px;
	margin: 5px 0px 10px 0px;
}

.backgrounded  .pricing h3 {
	color: #FFF;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	text-shadow: 1px 1px 6px rgba(0, 0, 0, .6);
	margin: 0px;
}

.backgrounded .pricing p {
	color: #d3e4f6;
	font-size: 14px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .45);
}

.pricingsmalltext {
	font-size: 13px;
	font-weight: normal;
}

#breadcrumb {
	width: 400px;
	height: 25px;
	margin: 18px 0px 0px 0px;
	display: inline-block;
}

#breadcrumb li {
	display: inline-block;
	opacity: .5;
	padding: 0px 6px;
	line-height: 10px;
	text-transform: uppercase;
	font-size: 12px;
	word-spacing: 5px;

	color: #FFFFFF;
}

#breadcrumb li:hover {
	opacity: .7;

	transition: opacity .2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
}

#breadcrumb li.slash {
	font-size: 23px;
	opacity: .25;
}

.lispacing {
	margin: 10px 0px;
}

.border {
	width: 100%;
	min-width: 960px;
	border-top: 1px solid #DDD;
}

.backgrounded {
	width: 100%;
	min-width: 960px;
	background: url(../images/wild_oliva.png);
	border-bottom: 2px solid #2969af;
	border-top: 2px solid #2969af;
}

.backgrounded h1 {
	color: #FFF;
	font-weight: 400;
	font-size: 60px;
	text-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
	line-height: 72px;
}

.backgrounded h3 {
	color: #EEE;
	font-weight: 400;
	text-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
	margin: 0px 0px 7px 0px;
	font-size: 24px;
	line-height: 40px;
}

.backgrounded p {
	color: #BBB;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
	font-size: 14px;
	line-height: 21px;
	margin: 16px 0px 0px 0px;
}

#secpanel .followup2:hover {
	color: #d9d9d9;
}

.h4subtitle {
	margin: 4px 0px 30px 0px;
}

.pricinginfo {
	background: #FFF;
	width: 960px;
	padding: 10px 0px 66px 0px;
	margin: 0 auto;
	position: relative;
	height: 300px;
}

.purchase_subtitles {

}


/*
  _    _                        _____ _         _           
 | |  | |                      / ____| |       | |          
 | |__| | ___ _ __ ___        | (___ | |_ _   _| | ___  ___ 
 |  __  |/ _ \ '__/ _ \        \___ \| __| | | | |/ _ \/ __|
 | |  | |  __/ | | (_) |       ____) | |_| |_| | |  __/\__ \
 |_|  |_|\___|_|  \___/       |_____/ \__|\__, |_|\___||___/
                                           __/ |            
                                          |___/             
*/

.inputposition {
	position: absolute;
	top: 9px;
	left: 15px;
}

.heroimg {
	position: absolute;
	top: 45px;
	right: 0px;
	z-index: 9;
}

#heroimg5 {
	top: 25px;
}

#heroimg4 {
	top: 110px;
}

#heroimg3 {
	top: 70px;
	margin: 0px 30px 0px 0px;
}

#heroimg1 {
	top: 15px;
}

#hero {
	height: 381px;
	width: 960px;
	margin: 0 auto;
	position: relative;
	padding: 0px;
}

#herotextbox {
	width: 610px;
	position: relative;
}

.homebanner {
	font-weight: normal;
	font-size: 60px;
	color: white;
	text-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
	position: absolute;
	top: 69px;
	left: 0px;
	line-height: 68px;
	z-index: 20;
}

#banner2, #banner3, #banner4, #banner5 {
	top: 92px;
}

#subbanner2, #subbanner3, #subbanner4, #subbanner5 {
	top: 202px;
	width: 570px;
}

#subbanner2 {
	width: 460px;
}

#spacer {
	height: 405px;
	width: 960px;
}

.homesubtitle {
	font-weight: 400;
	color: #CCC;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
	width: 600px;
	position: absolute;
	top: 250px;
	left: 0px;
	z-index: 19;
	line-height: 30px;
}

#createfreeaccount {
	position: absolute;
	top: 340px;
	left: 0px;
	z-index: 100;
}

.mainbutton {
	font-weight: normal;
	font-size: 14pt;
	text-align: center;
	color: #fff;
	padding: 13px 48px 13px 42px;
	cursor: pointer;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, .1);
	box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, .1);

	background: rgb(78,149,224); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlOTVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDU5OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(78,149,224,1) 0%, rgba(29,89,152,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,149,224,1)), color-stop(100%,rgba(29,89,152,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(78,149,224,1) 0%,rgba(29,89,152,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(78,149,224,1) 0%,rgba(29,89,152,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(78,149,224,1) 0%,rgba(29,89,152,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(78,149,224,1) 0%,rgba(29,89,152,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e95e0', endColorstr='#1d5998',GradientType=0 ); /* IE6-8 */
}

.mainbutton:hover {
	color: #fff;

	-webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, .1);
	box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, .1);

	background: rgb(73,142,216); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5OGVkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjU0OGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(73,142,216,1) 0%, rgba(27,84,143,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,142,216,1)), color-stop(100%,rgba(27,84,143,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(73,142,216,1) 0%,rgba(27,84,143,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(73,142,216,1) 0%,rgba(27,84,143,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(73,142,216,1) 0%,rgba(27,84,143,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(73,142,216,1) 0%,rgba(27,84,143,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498ed8', endColorstr='#1b548f',GradientType=0 ); /* IE6-8 */
}

.secondary {
	opacity: .75;
	font-weight: 400;
	font-size: 14px;
	color: #CCC;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	margin: 0px 0px 0px 20px;
	padding: 4px 0px 0px 0px;
	vertical-align: middle;
	height: 45px;

	transition: opacity .2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
}

.secondary:hover {
	opacity: 1;
}

#bannertextwrapper {
	display: none;
}

#heronavbox {
	margin: 30px 0px 0px 180px;
	background: url(../images/heronav.png) no-repeat center;
	height: 50px;
	width: 600px;
	position: relative;
}

#heronavlist {
	margin: 0px 0px 0px 54px;
}

.heronavitem {
	text-transform: uppercase;
	display: inline-block;
	color: white;
	font-size: 10px;
	width: 78px;
	padding: 30px 0px 20px 0px;
	opacity: .5;
	cursor: pointer;
	position: relative;
	z-index: 100;
	text-align: center;
	letter-spacing: 1px;

	transition: opacity .2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
}

.heronavdot {
	display: block;
	margin: -25px 0px 0px 26px;
	opacity: .1;
}

.heronavitem:hover {
	opacity: .8;
}

.heronavitemon {
	text-transform: uppercase;
	display: inline-block;
	color: white;
	font-size: 7.2pt;
	width: 78px;
	padding: 30px 0px 20px 0px;
	opacity: 1;
	cursor: pointer;
	position: relative;
	z-index: 100;
	text-align: center;
	letter-spacing: 1px;
}

.heronavdoton {
	display: block;
	margin: -25px 0px 0px 26px;
	opacity: 1;
}

#heronavdot {
	position: absolute;
	top: 30px;
	left: 94px;
	z-index: 97;
}

#heronavbackground {
	height: 60px;
	width: 530px;
	position: absolute;
	z-index: 1;
	top: -9px;
	left: 35px;
	background: rgba(0, 0, 0, .05);

	-webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, .05), -1px -1px 0px 0px rgba(0, 0, 0, .18) inset, 1px 1px 0px 0px rgba(1000, 1000, 1000, .1) inset;
	-moz-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, .05), -1px -1px 0px 0px rgba(0, 0, 0, .18) inset, 1px 1px 0px 0px rgba(1000, 1000, 1000, .1) inset;
	box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, .05), -1px -1px 0px 0px rgba(0, 0, 0, .18) inset, 1px 1px 0px 0px rgba(1000, 1000, 1000, .1) inset;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}




/*
   _____                          _                       _____                 _ 
  / ____|                        | |                     |  __ \               | |
 | (___   ___  ___ ___  _ __   __| | __ _ _ __ _   _     | |__) |_ _ _ __   ___| |
  \___ \ / _ \/ __/ _ \| '_ \ / _` |/ _` | '__| | | |    |  ___/ _` | '_ \ / _ \ |
  ____) |  __/ (_| (_) | | | | (_| | (_| | |  | |_| |    | |  | (_| | | | |  __/ |
 |_____/ \___|\___\___/|_| |_|\__,_|\__,_|_|   \__, |    |_|   \__,_|_| |_|\___|_|
                                                __/ |                             
                                               |___/                              
*/

#secpanel .mainbutton2 {
	padding: 0px;
	text-transform: uppercase;
	word-spacing: 2px;
	font-size: 13px;
	margin: 10px 0px;
	display: inline-block;
	float: right;
	width: 70px;
	height: 70px;
}

#secpanel .mainbutton2 img {
	margin: 0 auto;
}

#secpanel .followup, #secpanel .followup2 {
	letter-spacing: 1px;
	padding: 10px 30px;
	text-transform: uppercase;
	word-spacing: 2px;
	font-size: 12px;
	margin: 15px 0px 0px 0px;
	display: inline-block;
	color: #888;
	float: right;

	transition: color .3s;
	-moz-transition: color .3s;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
}

.secpanellink {
	margin: 0px -2px;
}

.minorh3 {
	font-size: 18px;
	line-height: 29px;
	font-weight: 600;
	color: #575757;
}

.featpt li {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #888;
}

.featpt {
	margin: 5px 0px 30px 0px;
	width: 450px;
	display: inline-table;
}

#secpanel .followup:hover {
	color: #555;
}

.subpanelimg {
	float: right;
	display: inline;
}

#subpanelimg1 {
	margin: 17px 0px 0px 0px;
}

#subpanelimg1_black {
	margin: 30px 10px 0px -166px;
}

#subpanelimg2 {
    margin: -10px 10px 0px 0px;
}

#secpanel {
	width: 960px;
	padding: 10px 0px 66px 0px;
	margin: 0 auto;
	position: relative;
}

.download {
	float: right;
	cursor: pointer;
	margin: 0px 50px 0px 0px;
	position: relative;
	z-index: 1000;
}

.darkcheck {
	margin: 10px 7px -4px -27px;
	opacity: .6;
	width: 20px;
}

.darkcheck2 {
	margin: 10px 7px -3px -25px;
	opacity: .4;
	height: 17px;
	width: 17px;
}

.secondarypanel {
	position: absolute; 
	top: 35px; 
	width: 520px; 
	height: 250px;
}

.productpanel {
	position: relative;
	display: inline-block;
	margin: 30px 5px 0px 5px;
	width: 475px;
	height: 250px;
	float: left;
}

.productpanel:firstchild {
	margin: 30px 0px 0px 0px;
}

.panelheader {
	text-align: center;
	padding: 15px 0px 0px 0px;
	color: #555;
	font-size: 30px;
}

.whitepanel li {
	font-size: 14px;
	line-height: 19px;
	margin: 3px 0px;
}

.mini_panel {
	width: 305px;
	height: 223px;
	display: inline-block;
	float: left;
	position: relative;
}

.mini_subpanel {
	display: inline-block;
	padding: 5px 15px;
	margin: 7px 11px 5px 0px;
	position: relative;
	z-index: 11;
}

.mini_panel_header {
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	z-index: 1;
	position: relative;
}

.mini_panel_header_larger {
	text-align: center;
	padding: 10px 0px 0px 0px;
	color: #555;
	font-size: 30px;
}

#news_mini_panel, #blog_mini_panel {
	width: 90px;
	height: 100px;
}

#ps_mini_panel {
	width: 225px;
	height: 100px;
}

#holder {
	background: none;
	padding: 0px;
}

.subpanelimg {
	float: right;
	display: inline;
}

.mini_panel a {
	position: absolute;
}

.colored {
	background: #f6f6f6;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

  	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .07) inset;
  	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .07) inset;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .07) inset;
}

.caption {
	position: absolute;
	opacity: 0;
	right: 75px;
	font-size: 25px;
	font-weight: 700;
	color: #DDD;
	text-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
	text-transform: uppercase;
}

#caption1 {
	top: 30px;
}

#caption2 {
	top: 107px;
}

#caption3 {
	top: 196px;
}




/*
  _                 _               _____ _         _           
 | |               (_)             / ____| |       | |          
 | |     ___   __ _ _ _ __        | (___ | |_ _   _| | ___  ___ 
 | |    / _ \ / _` | | '_ \        \___ \| __| | | | |/ _ \/ __|
 | |___| (_) | (_| | | | | |       ____) | |_| |_| | |  __/\__ \
 |______\___/ \__, |_|_| |_|      |_____/ \__|\__, |_|\___||___/
               __/ |                           __/ |            
              |___/                           |___/             
*/


#login {
	position: relative;
	height: 300px;
	margin: 0px 0px 0px 0px;
}

.loginfield_white {
	text-align: left;
	width: 200px;
	height: 22px;
	border-width: 0px;
	position: relative;
	padding: 5px 0px 0px 12px;
	background: #EEE;
	margin: 40px 15px 0px 0px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .3) inset;
	display: inline-block;
}

.subloginfield {
	text-align: left;
	position: absolute;
	top: 4px;
	left: 10px;
}

#loginbutton {
	width: 50px;
	border-width: 0px;
	position: absolute;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	padding: 6px 20px;
	text-transform: uppercase;
	font-size: 10pt;
	text-align: center;
	top: 188px;
	left: 460px;

	-webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
}

#loginbutton:hover {
	-webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .2);
}

#forgot {
	position: absolute;
	top: 242px;
	left: 0px;
}

#forgot p {
	color: #AAA;
}

#forgot p:hover {
	color: #CCC;
	text-decoration: underline;
}










.signintext {
	font-size: 9pt;
	text-transform: uppercase;
	display: inline-block;
	margin: 0px 50px 0px 0px;
	color: white;
	opacity: .5;
}

#submit {
	height: 25px;
	width: 25px;
	display: inline-block;
	padding: 0px;
	margin: 10px 30px -6px -21px;
}

#x2 {
	top: 17px;
	right: -16px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 19px solid white;
	opacity: .3;
	position: absolute;
	z-index: 1000000;
	cursor: pointer;

	transition: opacity .3s;
	-moz-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
}

#x2:hover {
	opacity: .7;
}

#loginbox {
	position: absolute;
	opacity: 0;
	top: 0px;
	right: 0px;
}

.login {
	color: #616161;
	font-size: 12pt;
	font-weight: bold;
}

.loginfield {

	background: #141414;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .9) inset, 1px 1px 1px rgba(1000, 1000, 1000, .07);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .9) inset, 1px 1px 1px rgba(1000, 1000, 1000, .07);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .9) inset, 1px 1px 1px rgba(1000, 1000, 1000, .07);
	width: 200px;
	height: 30px;
	display: inline-block;
	margin: 18px 40px 0px -20px;
}

.loginfieldfiller {
	padding: 7px 0px 0px 15px;
	cursor: pointer;
	position: relative;
	z-index: 19000;
}

#email, #password2, #j_password, #j_username {
	background: url(../images/blank.gif);
	cursor: pointer;
	border-width: 0px;
	color: #333;;
	font-size: 11pt;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px 30px 20px 30px;
	margin: -21px 0px 0px -30px;
	width: 240px;
}

#j_username, #j_password {
	font-weight: normal;
	font-size: 14px;
	color: #333;
	padding: 23px 30px 20px 30px;
}

#j_password {
	font-size: 20px;
	padding: 20px 30px 20px 30px;
}


.loginfieldinput {
	padding: 10px 0px 10px 15px;
	margin: -22px 0px 0px 0px;
	cursor: pointer;
	position: relative;
	z-index: 20000;
}

.loginfieldinput input {
	cursor: pointer;
	width: 175px;
	height: 30px;
	font-weight: normal;
	font-size: 12pt;
	color: #333;
}

#usernamelab, #passwordlab {
	cursor: pointer;
	color: #616161;
	font-size: 14px;
}

.testimonialdiv {
	float: right;
	width: 410px;
	height: 75px;
	margin: 80px 0px 0px 0px;
	position: relative;
}

.testimonial {
	color: #616161;
	font-size: 11pt;
	line-height: 17pt;
	font-weight: normal;
	float: right;
	width: 388px;
}

.testimonialname {
	color: #aaaaaa;
	font-size: 11pt;
	font-weight: normal;
	float: right;
}

#customerpic {

}



/*
  _______        _   _                          _____ _         _           
 |__   __|      | | (_)                        / ____| |       | |          
    | | ___ _ __| |_ _  __ _ _ __ _   _       | (___ | |_ _   _| | ___  ___ 
    | |/ _ \ '__| __| |/ _` | '__| | | |       \___ \| __| | | | |/ _ \/ __|
    | |  __/ |  | |_| | (_| | |  | |_| |       ____) | |_| |_| | |  __/\__ \
    |_|\___|_|   \__|_|\__,_|_|   \__, |      |_____/ \__|\__, |_|\___||___/
                                   __/ |                   __/ |            
                                  |___/                   |___/             
*/

.tertdiv {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.shadow {
	width: 100%;
	height: 10px;
	margin: 0px auto -10px auto;	
	opacity: .2;
}

.featlink {
	opacity: .6;
	float: right;
	display: inline-block;
	padding: 5px 15px;
	background: white;
	color: #999;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .4);
	-moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .4);
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .4);

	transition: opacity .2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
}

.featlink:hover {
	opacity: 1;
}



/* _____       _     ______          _                    _____ _         _           
  / ____|     | |   |  ____|        | |                  / ____| |       | |          
 | (___  _   _| |__ | |__ ___   ___ | |_ ___ _ __       | (___ | |_ _   _| | ___  ___ 
  \___ \| | | | '_ \|  __/ _ \ / _ \| __/ _ \ '__|       \___ \| __| | | | |/ _ \/ __|
  ____) | |_| | |_) | | | (_) | (_) | ||  __/ |          ____) | |_| |_| | |  __/\__ \
 |_____/ \__,_|_.__/|_|  \___/ \___/ \__\___|_|         |_____/ \__|\__, |_|\___||___/
                                                                     __/ |            
                                                                    |___/             
*/

#subfooter {
	height: 245px;
	width: 100%;
	min-width: 1060px;
	background: url(../images/wild_oliva.png);
	position: relative;
}

#subfooterdiv {
	height: 240px;
	width: 1060px;
	margin: 0 auto;
	padding: 0px 20px;
	position: relative;
	overflow: hidden;
}

.subfootheader {
	font-weight: normal;
	font-size: 40pt;
	color: white;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, .2);
	position: absolute;
	left: 60px;
	top: 85px;
}

.whitecheck {
	margin: 10px 7px -4px 0px;
	opacity: .8;
	width: 20px;
}

.sellpoint {
	font-weight: normal;
	font-size: 11pt;
	color: #D9D9D9;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
	margin: 5px 0px 0px 0px;
}

.sellpoints {
	position: absolute;
	top: 67px;
	left: 30px;
}

/*
  _   _                                                       _          _____ _         _           
 | \ | |                       /\                            | |        / ____| |       | |          
 |  \| | _____      __        /  \   ___ ___ ___  _   _ _ __ | |_      | (___ | |_ _   _| | ___  ___ 
 | . ` |/ _ \ \ /\ / /       / /\ \ / __/ __/ _ \| | | | '_ \| __|      \___ \| __| | | | |/ _ \/ __|
 | |\  |  __/\ V  V /       / ____ \ (_| (_| (_) | |_| | | | | |_       ____) | |_| |_| | |  __/\__ \
 |_| \_|\___| \_/\_/       /_/    \_\___\___\___/ \__,_|_| |_|\__|     |_____/ \__|\__, |_|\___||___/
                                                                                    __/ |            
                                                                                   |___/                             
*/


#newaccount2 {
	height: 220px;
	width: 630px;
	position: absolute;
	z-index: 100000;
	margin: 20px auto 0 auto;
}

#newaccounttitle2 {
	font-weight: normal;
	font-size: 30pt;
	color: white;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, .2);
	position: relative;
	display: block;
	margin: 0px 0px 15px 0px;
	float: none;
}

.x2 {
	background: url(../images/x.png) no-repeat center;
	opacity: .6;
	position: absolute;
	top: -20px;
	right: 10px;
	z-index: 1000000;
	width: 30px;
	height: 30px;
	cursor: pointer;
	padding: 10px;
	transition: opacity .2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
}

#otherinfo2 {
	position: absolute;
	left: 320px;
	top: 97px;
}
 
#inputs2 {
	height: 100px;
	width: 700px;
	position: relative;
}

#buttoncontainer2 {
	margin: 15px 0px 0px 0px;
	width: 230px;
}

#secondarybutton2 {
	padding: 10px 40px 10px 35px;
}




.bloglist {
	min-height: 200px;
	width: 210px;
	display: inline-block;
	position: relative;
	background: #FFF;
	margin: 0px 0px 0px 0px;
	float: left;
	opacity: 0;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	-webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, .4);
  	-moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, .4);
  	box-shadow: 1px 2px 10px rgba(0, 0, 0, .4);
}

.blogpanel {
	min-height: 200px;
	width: 680px;
	display: inline-block;
	position: relative;
	background: #FFF;
	margin: 0px 0px 0px 30px;
	padding: 5px 20px 20px 20px;
	opacity: 0;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	-webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, .4);
  	-moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, .4);
  	box-shadow: 1px 2px 10px rgba(0, 0, 0, .4);
}

.blogpanel h1, .blogpanel h2 {
	padding: 0px;
}

.pub_list_a {
	color: #666;
	font-size: 15px;
	line-height: 20px;
}

.pub_list_a:hover {
	color: #333;
}

.pub_list_p {
	color: #999;
	font-size: 11px;
	line-height: 16px;
	margin: 0px 0px 10px 0px;
}








#tryit {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20000;
	display: none;

	background: url(../images/wild_oliva.png);
}

.tryitcontainer {
	margin: 80px auto 0 auto;
	width: 960px;
	position: relative;
}

.tryitbox {
	margin: 110px 30px 0px 0px;
	padding: 10px 20px 30px 30px;
	width: 410px;
	display: inline-block;
	height: 230px;

	background: #FFF;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tryitbox h4 {
	max-width: 400px;
	line-height: 20px;
	margin: 10px 0px 0px 0px;
}






































